@import "tailwindcss";

body{
  font-family: 'Roboto', sans-serif;
  background-color: #F5F7FA;
  color: #222222;
}

@layer utilities {
  @keyframes slide-in {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes progress {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.3s ease-out;
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
  }

  .animate-progress {
    animation: progress linear forwards;
  }

  .animate-slideDown {
    animation: slide-down 0.3s ease-out;
  }
}

/* Ẩn thanh cuộn nhưng vẫn cho phép cuộn */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;     /* Firefox */
}
